.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #646cff;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #535bf2;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
